<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="row justify-content-center">
    <div class="col-8 offset-3">
 
     <h3><%= cake.name %></h3>
</div>
<div class="card h-70 " style="width: 15rem ;">
    <img src="<%= cake.image.url %>"
     class="card-img-top" 
     alt="cake_image"
     style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" 
     
     
    />
        <div class="card-body">
            <p class="card-text">    
               
                <p class="card-text">Owned by <i><%= cake.owner.username%></i></p>
              
                
             <p class="card-text"><%= cake.description %></p> 
                <p class="card-text"> &#8377; <%=cake.price.toLocaleString("en-In") %>
                </p>
                <p class="card-text"> <%= cake.brand %></p>
                
        
        </div>
    </div>

    <br />
    <% if (currUser && cake.owner._id.equals(currUser._id)) { %>


  
    <div class="btns d-flex justify-content-center gap-3 mt-3">
    <a
     href="/cakes/<%= cake._id %>/edit"
      class="btn btn-dark edit-btn"
        >Edit</a
 >


    <form method="POST" action="/cakes/<%=cake._id%>?_method=DELETE">
        <button class="btn btn-dark ">Delete</button>
    </form>
</div>

<% } %>



 <!-- Review Form -->
 <div class="col-md-8 offset-md-2 mt-5">
    <hr />
    <% if (currUser) { %>
      <h4>Give a Review</h4>
      <form action="/cakes/<%= cake.id %>/reviews" method="POST" novalidate class="needs-validation">

        <!-- Rating Stars -->
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
          

            <input type="radio" id="rate1" name="review[rating]" value="1" />
            <label for="rate1" title="Terrible">1 star</label>

            <input type="radio" id="rate2" name="review[rating]" value="2" />
            <label for="rate2" title="Not good">2 stars</label>

            <input type="radio" id="rate3" name="review[rating]" value="3" />
            <label for="rate3" title="Average">3 stars</label>

            <input type="radio" id="rate4" name="review[rating]" value="4" />
            <label for="rate4" title="Very good">4 stars</label>

            <input type="radio" id="rate5" name="review[rating]" value="5" />
            <label for="rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <!-- Comment -->
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="4" class="form-control" required></textarea>
          <div class="invalid-feedback">Please add some comments for review</div>
        </div>

        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <hr />
    <% } %>

    <!-- All Reviews -->
    <p><b>All Reviews</b></p>
    <div class="row">
      <% for (review of cake.reviews) { %>
        <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">@<%= review.author.username %></h5>
            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
            <p class="card-text"><%= review.comment %></p>

            <!-- Delete Review -->
            <form method="POST" action="/cakes/<%= cake._id %>/reviews/<%= review._id %>?_method=DELETE">
              <button class="btn btn-sm btn-dark">Delete</button>
            </form>
          </div>
        </div>
      <% } %>
    </div>

  </div>

</div>